/* ===== Category Navbar (Men / Women / Kids) ===== */
.category-nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 14px 0;
}

.cat-link {
  text-decoration: none;
  color: #111827;
  font-weight: 600;
  font-size: 1rem;
  padding: 8px 20px;
  border: 2px solid transparent;
  border-radius: 20px;
}

/* Hover effect */
.cat-link:hover {
  border-color: #dded9f;
}

/* Active button  */
.cat-link.active {
  background-color: #ef4444;
  color: #fff;
  border-color: #ef4444;
}

